@font-face {
    font-family: Caveat;
    src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family: PermanentMarker;
    src: url(../../fonts/PermanentMarker/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: Ubunto;
    src: url(../../fonts/Ubunto/Ubuntu-Regular.ttf);

}
@font-face {
    font-family: Sonsie_One;
    src: url(../../fonts/Sonsie_One/SonsieOne-Regular.ttf);

}