// Colors
$darkClr: #323642;
$lightClr: #ffffff;
$clr1:#323642;
$clr2:#5896fd;
$clr3:#806ef8;
$clr4:#acacac;
$clr5:#d8d8d8;
$clr6:#6a6f7e;
$clr7:#d1d6ee;

$selectionClr:rgb(0, 140, 255);
//Background colors
$lightTheme: #f7f7f7;;
// $darkTheme:rgb(13, 13, 17);
$darkTheme:#242833;

//for weather-card-preview
$gradient-clr1:#aecdff;
$gradient-clr2:#5896fd;
//for forecast-preview
$gradient2-clr1:#b0a4ff;
$gradient2-clr2:#806ef8;
//desktop card-preview
$gradient3-clr1:#b933a7;
$gradient3-clr2:#d3b3c5;
$gradient3-clr3:#7115d4;
$gradient3-clr4:#e8b73f;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
